.gpt3__features {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.gpt3__features-heading {
  flex: 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  min-width: 426px;
  text-align: left;
}
.gpt3__features-heading h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  /* or 132% */

  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
    #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.gpt3__features-heading p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  color: #ff8a71;
  margin-top: 2rem;
}
.gpt3__features-container {
  flex: 2.5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 990px) {
  .gpt3__features {
    flex-direction: column;
  }
  .gpt3__features-heading {
    margin: 0 0 2rem 0;
    min-width: auto;
  }
}
@media screen and (max-width: 550px) {
  .gpt3__features-heading h1 {
    font-size: 28px;
    line-height: 38px;
  }
}
